 p{
           font-size: x-large; 
           text-align: center;
        }
        .bgc{
           color: aliceblue;
        }
        .fws{
            font-weight: 70;
            font-size: xx-large;
            color: rgba(255, 0, 64, 0.527);
        }
        span{
            color: #fffffffa;
        }
        .blog{
            border: 5px solid rgba(221, 26, 124);
            border-top: 10px solid rgb(221, 136, 151);
            border-radius:100px;
            margin: 30px;
            padding: 20px;
            padding-left: 30px;
            color: rgb(255, 255, 255);
            text-align: justify;
            box-shadow: 2px 5px 20px #ff04d5fa;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
        }
        h1{
            text-align: center;
            color: rgba(240, 16, 16, 0.637);
        }
        h4{
            text-align: center;
            color: brown;
        }