h1{
    background-color: rgb(47, 0, 255);
    margin-bottom: 20px;
    border-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    text-decoration:underline;
    text-align: justify;
}
h2{
background-color: rgb(17, 0, 255);
    margin-bottom: 20px;
    border-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    text-decoration:underline;
    text-align: justify;
}
p{
    background-color: rgb(0, 255, 13);
    margin-bottom: 20px;
    border-top: 10px;git
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    text-decoration:underline;
    text-align: justify;
}